<h1>Editing prayer_request</h1>

<%= render 'form' %>

<%= link_to 'Show', @prayer_request %> |
<%= link_to 'Back', prayer_requests_path %> | dsfd
<%= link_to 'Destroy', @prayer_request, confirm: 'Are you sure?', method: :delete %>
