<h1>Prayer Request</h1>

<p> <%= @prayer_request.content %></p>
<p> <%=   @prayer_request.user %></p>
<%= link_to 'Edit', edit_prayer_request_path(@prayer_request) %> |
<%= link_to 'Back', prayer_requests_path %>
