<p id="notice">"My Submitted Prayer Requests"</p>

<p> <%= @prayer_request.content %></p>
<%= link_to 'Edit', edit_prayer_request_path(@prayer_request) %> |
<%= link_to 'Back', prayer_requests_path %>
