<%= render :template => 'navigation/index' %>
<h3>My Prayer Requests</h3>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @my_prayer_requests.each do |my_prayer_request| %>
  <tr>
    <td><%= my_prayer_request.content %></td>
    <td><%= link_to 'Show', my_prayer_request %></td>

  </tr>
<% end %>
</table>

<br />

