<%= render :template => 'navigation/index' %>

<h1>Listing prayers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% usedIds = Array.new %>
  <% @prayer_requests.each do |request|
    @prayers.each do |prayer|
        if prayer.prayer_request.id == request.id and (not usedIds.include?(request.id))%>
          <% usedIds << request %>
        <% end %>
    <% end %>
  <% end %>
  <% @prayer_requests.each do |prayer_request| %>
    <% if usedIds.include?(prayer_request) %>
      <tr>
        <td><%= prayer_request.content %></td>
        <td><%= '-' + prayer_request.user.name %></td>
        <td><%= link_to 'Remove', prayer_path(prayer_request), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br />

